
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #000000;
  color: white;
  width: 100vw;
  height: 100vh;
}

.intro-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-svg {
  width: 50%; 
  height: auto;
}
